<!DOCTYPE html>
<html>
	<head>
 		 <link rel='stylesheet' type='text/css' href='style.css'>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">

	</head>

	<body>
		<div class="top-menu">  <!-- ________________________________________TOP MENU______________________________________ -->
 			 <div class="logo">
  				<a href="index.html"><img src="https://tryimg.com/u/2017/12/18/eksporttt.png" border="0" height="70"></a>
  			</div>

  			<nav class="navigation">
   			 	<ul>
     				 <a href="#kilkaslowomnie" id="top"><li>O MNIE</li></a>
     				 <a href="#zaproszenie" id="top"><li>PORTFOLIO</li></a>
      				 <a href="#zaproszenieofertowe" id="top"><li>OFERTA</li></a>
     				 <a href="#zacheta" id="top"><li>KONTAKT</li></a>
    			</ul>
  			</nav>
		</div>
