<!DOCTYPE html>
<html>
	<head>
		 <%= stylesheet_link_tag "home_style" %>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">

	</head>

	<body>
		<div class="top-menu">  <!-- ________________________________________TOP MENU______________________________________ -->
			<nav class="navigation">
 			 	<ul>
   				 <a href="#" id="top"><li>DINOSAURS IN LDN</li></a>
   				 <a href="#" id="top"><li>MAP</li></a>
					 <a href="#" id="top"><li>ADD DINOSAUR</li></a>
   				 <a href="#" id="top"><li>CONTACT US</li></a>
  			</ul>
			</nav>
		</div>

		<div class="dinosaurs_in_london">  <!-- ________________________________________DINOSAURS IN LONDON ___________________________________ -->
			<div class ="dinosaur_Q_and_A">
				<h1> Why dinosaurs in London? </h1>
				<p1> Maybe some of you know, London is full of dinosaurs... </p1>
			</div>
			<div class ="dinosaur_grid">
				<div class="dino_box">
					<h2> DINODINO </h2> <br>
					<p2> This Dino lives in Restaurant </p2>
					<img1> ... <img1>
				</div>
				<div class="dino_box">
					<h2> CINEMA DINO </h2><br>
					<p2> This Dino lives in Cinema </p2>
					<img1> ... <img1>
				</div>
				<div class="dino_box">
					<h2> PUB DINO </h2><br>
					<p2> This Dino lives in a Pub </p2>
					<img1> ... <img1>
				</div>
				<div class="dino_box">
					<h2> MUSEUM DINO </h2><br>
					<p2> Finally a museum dino </p2>
					<img1> ... <img1>
				</div>
			</div>
		<div>

	</body>
</html>
