/* --------------------------------------dinosaur_grid-------------------------------------- */

.dinosaur_grid {
  display: grid;
  margin-top: 4em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: justify;
  grid-column-gap: 1.8em;
}

.dino_box {
  color: black;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 1em;
  padding: 5%;
  background-color: #bfbbb721;
}

h2 {
	text-align: center;
  font-family: Playfair Display SC;
	font-size: 1.2em;
	font-weight: 900;
  letter-spacing: 0.1em;
}

p2 {
  text-align: center;
  font-family: Bellefair;
  font-size: 1em;
  color: #7c7667;
}

p3 {
  text-align: center;
  font-family: Bellefair;
  font-size: 1.05em;
  color: #b06262;
}

.dinopic {
margin-left: auto;
margin-right: auto;
display: block;
filter: grayscale(50%);
}

.small_image {
  margin-top: 1em;
}
/* -------------------------------- flash notice ---------------- */

.notice {
  background-color: #e33030;
  font-family: Playfair Display SC;
  text-align: center;
}
