body, html {
  font-family: 'Lucida Console', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: initial;
  background: white;
}


.header {
  font-family: Playfair Display SC;
}

/* --------------------------------------SUBSITES-------------------------------------- */

.subsite_header {
  background-color: #889b8c;
  height: 7em;
}

/* ------- STYL HEADERA ------- */
p4 {
font-family: Playfair Display SC;
font-size: 1.6em;
font-weight: 800;
padding-top: 2em;
color: #464034;
letter-spacing: 0.01em;
text-align: center;
display: block;
}
