@media only screen and (max-device-width: 800px) {
  .dinosaur_Q_and_A {
    width: 100% !important;
    margin-left: 0em !important;
  }
  .intro {
    overflow: none;
  }

  #sir {
    display: none;
  }

  h1 {
    text-align: center !important;
    margin-left: auto !important;
  }
}


/* --------------------------------------intro --------------------------------------*/
.intro {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/37/Ichthyosaur_and_Plesiosaur_1863.jpg");
  background-size: cover;
  height: calc(100% - 62.4px);
  background-position: center;
}

/* --------------------------------------dinosaur_Q_and_A-------------------------------------- */
.dinosaur_Q_and_A {
  width: 25em;;
  text-align: left;
  text-align: left;
  margin-left: 1.1em;
  background: linear-gradient(#f8f9fa4f, #fffffffc);
}

.sir {
  margin-left: 39em;
  margin-top: -3.5%;
}

h1 {
  font-family: Playfair Display SC;
  font-size: 1.6em;
  color: #591721;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: default;
  letter-spacing: 0.02em;
}

p1 {
  font-family: Bellefair;
  font-size: 1.2em;
  color: #7c262ed1;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0.2em;
  cursor: default;
  letter-spacing: 0.02em;
};


/* --------------------------------------FOOTER-------------------------------------- */

.footer {
  background-color: #54865e;
  width: 100%;
  display: inline-block;
  margin: auto;
  margin-bottom: 0.2em;
}
