p13 {
  font-family: Bellefair;
  font-size: 1.2em;
  color: #5b5547d6;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  cursor: default;
  letter-spacing: 0.02em;
}

.dinosaur_map {
  padding-top: 2.2em;
  background-color: lightgrey;
  height: calc(100% - 112px);
  width: 100%;
}
