.create {
  background-color: lightgrey;
  padding-bottom: 3em;
}

.container {
}

.fields {
  padding-top: 3em;
  padding-bottom: 1em;
}

.actions {
  margin-left: 10em;
  height: 3em;
  padding-bottom: 1em;
}

.single_field {
  background-color: #efeeebf0;
  width: 25em;
}

.add_a_dinosaur {
  padding-top: 2em;
  background-color: #dfdad3;
  height: 14em;
}

p7 {
  font-family: Bellefair;
  font-size: 1.2em;
  color: #5b5547d6;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-left: 10em;
  cursor: default;
  letter-spacing: 0.02em;
  margin-left: 4em;
}

p8 {
  font-family: Bellefair;
  font-size: 1.0em;
  color: #5b5547d6;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-left: 4.7em;
  cursor: default;
  letter-spacing: 0.02em;
}

.button {
  background-color: #caabab;
  border-radius: 65px;
  position: absolute;
  margin-top: -6%;
  font-size: 16px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-family: Playfair Display SC;
}

.button:hover {
  box-shadow: 0px 0px 20px grey;
}

#bronto {
  height: 400px;
  margin-left: 35%;
  position: absolute;
  margin-top: -25%;
}
