<!DOCTYPE html>
<html>
	<head>
		 <%= stylesheet_link_tag "home_style" %>
		 <%= stylesheet_link_tag "general_css" %>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
	</head>
	<body>
		<div class="top-menu">  <!-- ________________________________________TOP MENU______________________________________ -->
			<nav class="navigation">
 			 	<ul>
					<a href="/home" id="top"><li>HOME</li></a>
					 <a href="/map" id="top"><li>MAP</li></a>
					 <a href="/dinoplaces" id="top"><li>DINO DATABASE</li></a>
					 <a href="place/new" id="top"><li>ADD A DINO</li></a>
					 <a href="/about" id="top"><li>ABOUT US</li></a>
  			</ul>
			</nav>
		</div>
		<div class="intro">
			<div class ="dinosaur_Q_and_A">
				<h1>  Dinosaurs in London. </h1>
				<p1> Because London is full of dinosaurs. <br>
				You can find them in museus and galleries, <br>
				but also in pubs, underground and shops. <br><br>
				This website collects them all. <br> </p1>
			</div>
			<div class="sir"><img src="https://image.ibb.co/m71Mj6/like_a_sir.png", height=200px></div>
		</div>
	</body>
</html>
