<!DOCTYPE html>
<html>
	<head>
		 <%= stylesheet_link_tag "home_style" %>
     <%= stylesheet_link_tag "general_css" %>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
	</head>
	<body>
		<div class="top-menu">  <!-- ________________________________________TOP MENU______________________________________ -->
			<nav class="navigation">
 			 	<ul>
          <a href="/home" id="top"><li>HOME</li></a>
					 <a href="/map" id="top"><li>MAP</li></a>
					 <a href="/dinoplaces" id="top"><li>DINO DATABASE</li></a>
					 <a href="place/new" id="top"><li>ADD A DINO</li></a>
					 <a href="/about" id="top"><li>ABOUT US</li></a>
  			</ul>
			</nav>
		</div>
    <div class="subsite_header">
			<p4> See the map of all London dinosaurs </p4>
		</div>
		<div class="dinosaur_map">
		</div>



		    <style>
		       #map {
		        height: 400px;
		        width: 100%;
		       }
		    </style>
		  </head>
		  <body>
		    <h3>My Google Maps Demo</h3>
		    <div id="map"></div>
		    <script>
		      function initMap() {
		        var uluru = {lat: -25.363, lng: 131.044};
		        var map = new google.maps.Map(document.getElementById('map'), {
		          zoom: 4,
		          center: uluru
		        });
		        var marker = new google.maps.Marker({
		          position: uluru,
		          map: map
		        });
		      }
		    </script>
		    <script async defer
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeyv5U9qCXoO_qOasQYrACoXGIvOlsN6I&callback=initMap">
		    </script>
		  </body>
		</html>
