<!DOCTYPE html>
<html>
	<head>
		 <%= stylesheet_link_tag "home_style" %>
     <%= stylesheet_link_tag "general_css" %>
    	<title>London dinosaurs</title>
		<script src="https://use.fontawesome.com/b6e46f96f4.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
	</head>
	<body>
		<div class="top-menu">  <!-- ________________________________________TOP MENU______________________________________ -->
			<nav class="navigation">
 			 	<ul>
          <a href="/home" id="top"><li>HOME</li></a>
					 <a href="/map" id="top"><li>MAP</li></a>
					 <a href="/dinoplaces" id="top"><li>DINO DATABASE</li></a>
					 <a href="place/new" id="top"><li>ADD A DINO</li></a>
					 <a href="/about" id="top"><li>ABOUT US</li></a>
  			</ul>
			</nav>
		</div>
    <div class="subsite_header">
			<p4> Find the London dinosaurs </p4>
		</div>
		<div class="dinosaur_map">

			<p13> *** If the page doesn't load, click refresh *** </p13>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <script src="http://maps.google.com/maps/api/js?sensor=false"
          type="text/javascript"></script>
</head>
<body>
  <div id="map" style="width: 100%; height: 500px;"></div>

  <script type="text/javascript">
    var locations = [
      ['Museum of Natural History', -51.496775, -0.176367, 4],
			['Dino Grill', 51.496775, -0.176367, 4],
      ['Horniman Museum', 51.441129, -0.061009, 5],
      ['Grant Museum', 51.523814, -0.134346, 3],
      ['Crystal Palace Park', 51.424132, -0.074113, 2],
      ['Jamie Oliver', 51.510915, -0.134163, 1],
			['Little Dinosaurs Play Center', 51.589514, -0.136226, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: new google.maps.LatLng(51.48, 0.09),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
</body>
</html>
